<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <title>{{ page.title }}</title>

    <meta name="title" content="Coffeeshop Physics" >
    <meta name="description" content="A collection of informal articles about physics.">
    <link rel="image_src" href="http://www.coffeeshopphysics.com/coffeecup.jpg">
    <link rel="shortcut icon" href="http://www.coffeeshopphysics.com/favicon.ico"/>

    <meta property="og:title" content="Coffeeshop Physics"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://www.coffeeshopphysics.com/coffeecup.jpg"/>
    <meta property="og:url" content="http://www.coffeeshopphysics.com/"/>
    <meta property="og:site_name" content="Coffeeshop Physics"/>
    <meta property="og:admins" content="100000170013388"/>
    <meta property="fb:admins" content="100000170013388"/>

    <link href="/css/default.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2655583-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
  <body>
    <div class="headblock island">
      <a href="/">
        <div>
	  <img src="/img/coffeecup.jpg">
          <h1>Coffeeshop&nbsp;Physics<br><span>by&nbsp;Jim&nbsp;Pivarski</span></h1>
        </div>
      </a>
    </div>
    <div class="island">
      <table width=100% style="margin-bottom: 20px;"><tr>
          <td width=25% style="border-right: solid 1px grey; text-align: center; padding-left: 10px; padding-right: 10px;">Long articles on this site</td>
          <td width=25% style="border-right: solid 1px grey; text-align: center; padding-left: 10px; padding-right: 10px;"><a href="/cmsresults">Short <i>CMS Results</i> on Fermilab Today</a></td>
          <td width=25% style="border-right: solid 1px grey; text-align: center; padding-left: 10px; padding-right: 10px;"><a href="/nutshells">Short <i>Physics in a Nutshells</i> on Fermilab Today</a></td>
          <td width=25% style="text-align: center; padding-left: 10px; padding-right: 10px;"><a href="/talks">Talks and older articles</a></td>
      </tr></table>

      {% assign pages_list = site.pages %}
      {% sorted_for node in pages_list sort_by:date %}
        {% if node.layout == "article" %}
          <div class="articleitem">
            <h2><a href="{{ node.url }}">{{ node.title }}</a></h2>
            <a href="{{ node.url }}"><img src="{{ node.url }}splash200.jpg"></a>
            {{ node.content | uptocut '' }}
            <div class="readmore"><a href="{{ node.url }}">read more »</a></div>
          </div>
        {% endif %}
      {% endsorted_for %}

    </div>
    <div class="copyright island">
      &copy; 2011&ndash;{{ site.time | date: '%Y' }} Jim Pivarski
    </div>
  </body>
</html>
